.section-p1{
 padding: 40px 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white-100: hsl(206, 5%, 100%);
  --white-200: hsl(206, 5%, 90%);
  --white-300: hsl(206, 5%, 80%);
  --white-400: hsl(206, 5%, 65%);
  --white-500: hsl(206, 5%, 45%);
  --black-100: hsl(210, 20%, 10%);
  --black-200: hsl(210, 20%, 8%);
  --black-300: hsl(210, 20%, 6%);
  --black-400: hsl(210, 20%, 4%);
  --black-500: hsl(210, 20%, 1%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black-500);
  background-color:  var(--white-100);
}

main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  background: none;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  /* Place the image behind the navigation bar */
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.section {
  margin: 0 auto;
  padding-block: 5rem;
}

.container {
  max-width: 75rem;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
  margin-top: 80px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container2 {
  width: 100%;
  max-width: 1100px;
    margin: 0 auto;

}

/* Nav */
.main-nav {
  position: fixed;
  
  width: 100%;
  background-color:  #FFFFFF ; /* Add background color if needed */
  z-index: 999; /* Ensure the navigation bar is above other content */
    
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 10px;
  font-size: 13px;
  top: 0;
  left: 0;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add box-shadow as needed */
    }



.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}


@media (min-width: 768px) {
  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }
}
.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
  
}
.menu-btn {
  cursor: pointer;
  position: fixed;
  top: 14px;
  right: 20px;
  z-index: 1000; /* Set a high z-index value to ensure the menu button appears in front of other content */
  display: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
}
.btn:hover {
  opacity: 0.9;
}

.dark {
  color: #fff;
}

.dark .btn {
  background: #f4f4f4;
  color: #333;
}

@media(max-width: 700px) {
  .menu-btn {
    display: block;
  }
        .main-menu li a {
        color: whitesmoke; /* Change text color to white on small screens */
    }


  .main-nav ul.right-menu {
    margin-left: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
    background:  #989898;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;

    border-bottom: #ccc solid 1px;
    font-size: 14px;
            z-index: 1000;
    }
  

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

@media(max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
}
h2 {
        font-size: 25px;
        color:#FFFFFF;
}

p.Special-paragraph{
   color:#FFFFFF;
}
}
h4 {
    font-size: 3em; /* Adjust the font size as needed */
    text-align: center;
    color: #333; /* Text color */
    text-transform: uppercase; /* Convert text to uppercase */
    font-family: Arial, sans-serif; /* Specify the font family */
    /* Add any additional styling you desire */
}
h5 {
    font-size: 1em; /* Adjust the font size as needed */
    text-align: center;
    color: #333; /* Text color */
    text-transform: uppercase; /* Convert text to uppercase */
    font-family: Arial, sans-serif; /* Specify the font family */
    /* Add any additional styling you desire */
}
p {
    text-align: center;
    color: #666; /* Text color */
    font-family: Arial, sans-serif; /* Specify the font family */
    /* Add any additional styling you desire */
 
}


/* Follow */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
  margin-top: -50px;
}

.follow * {
  margin-right: 10px;
}

/* Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
  
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  
}

.links li {
  line-height: 2.8;
}

        
        /* Footer */
.footer  {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer div i {
  margin-right: 10px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}
.top-section {
    background-color: #f2f2f2;
    padding: 20px;
    
}
.small{
    margin-top: 10%;
  font-size: 20px;
  border-bottom: 2px solid #333;
  
}
.smalls{
  
  font-size: 20px;
  border-bottom: 2px solid #333;
  
}
.space{
  margin-top: 2%;
}

price-container {
    margin: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.free-shipping {
    color: green;
    font-size: 18px;
}

.col{
  
text-align: center;
}

footer h6 {
      font-size: 1.4em;
          text-align: center;
    color: #333; /* Text color */
    text-transform: uppercase; /* Convert text to uppercase */
    font-family: Arial, sans-serif; /* Specify the font family */
    /* Add any additional styling you desire */
}


footer a {
      color: #666; /* Text color */
    font-family: Arial, sans-serif; /* Specify the font family */
    /* Add any additional styling you desire */
 
}
    .info-box {
        border: 1px solid #ccc;
        padding: 20px;
        width: 80%;
        margin: 20px auto;
    }
    
